DirectoryIndex front.php index.php
Options -Indexes
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^test$ user/test.php [L]

RewriteRule .* notfound.php [L]
