DirectoryIndex index.php
Options -Indexes
RewriteEngine On

#enable css and js files before they're catched by last filter
#RewriteCond %{SCRIPT_FILENAME} \.(css|js)$
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteRule ^ - [L]

#send css as actual css type
RewriteRule ^.+\.css$ - [T=text/css]

#css
RewriteRule styles.css$ styles.css [L]

#accesible links
#homepage
RewriteRule ^homepage$ index.php [L]
RewriteRule ^index.php$ index.php [L]

#user actions
RewriteRule ^login$ user/login.php [L]
RewriteRule ^logout$ user/logout.php [L]
RewriteRule ^registration$ user/registration.php [L]

#tournament actions
RewriteRule ^tournamentShow$ tournament/tournamentShow.php [L]
RewriteRule ^createTournament$ tournament/createTournament.php [L]
RewriteRule ^tournament$ tournament/tournament.php [L]


#links in current directory
#index
RewriteRule ^index.php$ index.php [L]


#end of the whitelist
RewriteRule .* notfound.php [L]
