@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #2b2b2b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: #6c6c6c
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #454445;
}

p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

p
{
  line-height: 180%;
}

strong
{
}

a
{
  color: #2C383B;
}

a:hover
{
  text-decoration: none;
}

.container
{
  margin: 0px auto;
  width: 1200px;
}


/*** Menu */
.header_menu
{
  height: 150px;
  margin: 3em 0em;
}

/** header menu logo + header menu link relation */

.header_menu_logo
{
  top: 2em;
  /*width: 100%;*/
  float: left;
  height: 150px;
}

.header_menu_list
{
  top: 2em;
  /*width: 100%;*/
  float: right;
  height: 150px;
}


/* header menu logo */

.header_menu_logo h1
{
  display: inline-block;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ED7070;
  padding-right: 0.50em;
  border-right: 1px solid rgba(0,0,0,.1);
}

.header_menu_logo img
{
  display: inline-block;
  margin: 0 0 2em 0;
  padding-right: 0.50em;
  float: left;
}

.header_menu_logo a
{
  text-decoration: none;
  color: #FFFFFF;
  float: right;
}

.header_menu_logo .logo
{
  color: #F2762E;
}

/* menu list */
.header_menu_list li
{
  float: left;
  text-align: center;
}

.header_menu_list li a
{
  display: inline-block;
  margin-left: 1px;
  padding: 1em 1.5em 1em 1.5em;
  letter-spacing: 0.10em;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  outline: 0;
  color: #FFFFFF;
}

.header_menu_list li:hover
{
  background: rgba(0,0,0,0.3);
}

/* general forms layout */

.all_forms {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

.all_forms h1 {
  color: #ffffff;
  letter-spacing:1px;
  text-align:center;
}

.all_forms input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.all_forms .button {
  background: #f4a428;
}


.all_forms .button:hover {
  /*  background: #000000;*/
}

.all_forms p {
  color: #ffffff;
  padding: 10px;
  background: rgb(188, 5, 5);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  letter-spacing:1px;
  text-align:center;
}


/* navigation menu */
div .content_menu
{
  min-height: 30px;
  margin-bottom: 2px;
}

.content_menu li
{
  float: left;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  min-height: 30px;
  line-height: 30px;
}

.content_menu li.active
{
  border-bottom-color: #f4a428;
}

.content_menu li:hover
{
  background: rgba(0,0,0,0.3);
}

.content_menu li a
{
  padding: 10px 40px;
  text-decoration: none;
  color: #7d8292;
}

/** Content below navigation menu */

div .content_below
{
  margin-right: auto;
  margin-left: auto;
}

div .content_list
{
  float: left;
  width: 66%;
  min-height: 30px;
  margin: 30px 0px 30px 0px;
}

.content_list ul
{
  width: 100%;
}

.content_list li
{
  background: #4a4c52;
  margin-bottom: 5px;
  height: 48px;
}

.content_list li a
{
  text-decoration: none;
  color: #eee;
  width: 93%;
  height: 48px;
  display: block;
  float: left;
}

.content_list li a:hover
{
  background: rgba(0,0,0,0.3);
  margin-bottom: 5px;
}

.content_list li a.team_resign
{
  height: 40px;
  width: 7%;
  float:right;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}

.content_list li a.team_resign:hover
{
  background: #cb2431;
}

.content_list li a div:first-child
{
  float: left;
  padding: 16px 0px 16px 10px;
}

.content_list li a div
{
  float: right;
  padding: 16px 10px 16px 0px;
}

div .content_actions
{
  float:right;
  width: 33%;
  min-height: 30px;
  margin: 30px 0px;
}



table {
  border-collapse: collapse;
}

table, tr, td {
  border: 1px solid black;
}

td {
  width: 200px;
  height:50px;
}

.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

.login h1 { 
  color: #ffffff;
  letter-spacing:1px; 
  text-align:center; 
}

.login input { 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.login .button {
  background: #cc8417;
}


.login .button:hover {
/*  background: #000000;*/
}

.login li {
  color: #ffffff;
  padding: 10px;
  background: rgb(188, 5, 5);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  letter-spacing:1px; 
  text-align:center; 
}

div.example {
  color: #ffffff;
}


