@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #2b2b2b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: #6c6c6c
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #454445;
}

p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

strong
{
}

a
{
  color: #2C383B;
}

button
{
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

input
{
  border: 0px;
}

a:hover
{
  text-decoration: none;
}

.container
{
  margin: 2em auto 0 auto;
  width: 1200px;
}


/*** Menu */
.header_menu
{
  height: 40px;
}

/** header menu logo + header menu link relation */

.header_menu_logo
{
  top: 2em;
  float: left;
  height: 40px;
}

.header_menu_list
{
  top: 2em;
  float: right;
  height: 40px;
}


/* header menu logo */

.header_menu_logo h1
{
  display: inline-block;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ED7070;
  padding-right: 0.50em;
  border-right: 1px solid rgba(0,0,0,.1);
}

.header_menu_logo img
{
  display: inline-block;
  margin-right: 20px;
  float: left;
}

.header_menu_logo a
{
  text-decoration: none;
  color: #FFFFFF;
  float: right;
}

.header_menu_logo .logo
{
  color: #F2762E;
}

/* menu list */
.header_menu_list li
{
  float: left;
  text-align: center;
}

.header_menu_list li a
{
  display: inline-block;
  margin-left: 1px;
  padding: 1em 1.5em 1em 1.5em;
  letter-spacing: 0.10em;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  outline: 0;
  color: #FFFFFF;
}

.header_menu_list li:hover
{
  background: rgba(0,0,0,0.3);
}

/* general forms layout */

.all_forms {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

.all_forms h1 {
  color: #ffffff;
  letter-spacing:1px;
  text-align:center;
}

.all_forms input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.all_forms .button {
  background: #f4a428;
}


.all_forms .button:hover {
  background: #CD8009;
}

.all_forms p {
  color: #ffffff;
  padding: 10px;
  background: rgb(188, 5, 5);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  letter-spacing:1px;
  text-align:center;
}

/* page title */
div .left-logo-adjuster
{
  float: left;
  width: 96px;
  margin-right: 20px;
  color: #2b2b2b;
}

div .content_title
{
}

p.content_title_header
{
  font-size: 30px;
}


/* navigation menu */
div .content_menu
{
  min-height: 30px;
  margin-bottom: 2px;
}

.content_menu li
{
  float: left;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  min-height: 30px;
  line-height: 30px;
}

.content_menu li.active
{
  border-bottom-color: #f4a428;
}

.content_menu li:hover
{
  background: rgba(0,0,0,0.3);
}

.content_menu li a
{
  padding: 10px 40px;
  text-decoration: none;
  color: #7d8292;
}

/** Content below navigation menu */

div .content_below
{
  margin-right: auto;
  margin-left: auto;
}

div .content_list
{
  float: left;
  width: 66%;
  min-height: 30px;
  margin: 30px 0px 30px 0px;
}

.content_below ul
{
  width: 100%;
}

.content_below li
{
  background: #4a4c52;
  margin-bottom: 5px;
  height: 48px;
}

.content_below li a
{
  text-decoration: none;
  color: #eee;
  width: 93%;
  height: 48px;
  display: block;
  float: left;
}

.content_below li a:hover
{
  background: rgba(0,0,0,0.3);
}

.content_list li a.team_action
{
  height: 40px;
  width: 7%;
  float:right;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}

.content_list li a.team_action:hover
{
  background: #cb2431;
}

.content_list li a div:first-child
{
  float: left;
  padding: 16px 0px 16px 10px;
}

.content_list li a div
{
  float: right;
  padding: 16px 10px 16px 0px;
}

.content_below li .list_element
{
  text-decoration: none;
  color: #eee;
  width: 100%;
  height: 48px;
  display: block;
  float: left;
}

.content_list li div.list_element div:first-child
{
  float: left;
  padding: 16px 0px 16px 10px;
}

.content_list li div.list_element div
{
  float: right;
  padding: 16px 10px 16px 0px;
}

.content_below li div.list_element_with_action
{
  text-decoration: none;
  color: #eee;
  width: 90%;
  height: 48px;
  display: block;
  float: left;
}

.content_list li div.team_action
{
  height: 40px;
  width: 7%;
  float:right;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}

.content_list li div.team_action:hover
{
  background: #cb2431;
}

.content_list li div.list_element_with_action div:first-child
{
  float: left;
  padding: 16px 0px 16px 10px;
}

.content_list li div.list_element_with_action div
{
  float: right;
  padding: 16px 10px 16px 0px;
}

.content_actions
{
  float:right;
  width: 28%;
  min-height: 30px;
  margin: 30px 0px;
  color: #eee;
}

.content_actions li
{
  line-height: 48px;
}

.content_actions li:first-child
{
  background: #f4a428;
}

.content_actions li a
{
  width: 100%;
}

.content_actions li:first-child a:hover
{
  background: #CD8009;
}

.content_actions li:first-child div
{
  float: left;
  width: 20%;
  text-align: right;
  height: 48px;
}

.content_actions li:first-child div img
{
  padding: 16px 0px;
}

.content_actions li a div.tournament_create
{
  text-align: center;
  text-transform: uppercase;
  width: 70%
}

.content_actions li a div.team_create
{
  text-align: center;
  text-transform: uppercase;
  width: 60%
}

.content_actions li div.team_invites:first-child
{
  float: left;
  padding-left: 10px;
}

.content_actions li div.team_invites
{
  float: right;
  padding-right: 10px;
}

.content_actions li div.team_invite_member
{
  text-align: center;
  text-transform: uppercase;
  width: 60%;
  line-height: 48px;
}

.content_actions form
{
  width: 100%;
  height: 100%;
}

.content_actions div.action_description
{
  width: 80%;
  float: left;
  height: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.content_actions div.action_description p
{
  padding-left: 10px;
}

.content_actions div.action_icon
{
  width: 15%;
  float: right;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #eee;
}

.content_actions div.action_icon:hover
{
  background: #cb2431;
}

.content_actions form div.invite_left
{
  width: 80%;
  float: left;
  height: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: left;
}

.content_actions form div.invite_left p
{
  padding-left: 10px;
}

.content_actions form div:last-child:hover
{
  background: #009000;
}

.content_actions input
{
  display: inline-block;
  color: #eee;
  background: #4a4c52;
  line-height: 48px;
  height: 45px;
  width: 100%;
  padding-left: 10px;
}

.content_actions button
{
  display: block;
  text-align: center;
  margin: 0px auto;
}


/* Tournament main view */
.tournament_description
{
  margin-top: 30px;
  color: #7d8292;
}

.tournament_content
{

}

/*
 *  Flex Layout Specifics
*/
main.tournament_bracket
{
  display:flex;
  flex-direction:row;

  padding:10px;
  line-height:2em;
}

.tournament_bracket .round
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:250px;
  list-style:none;
  padding:0;
  margin-right: 35px;
}

.tournament_bracket .round .spacer
{
  flex-grow:1;
}

.tournament_bracket .round .spacer:first-child,
.tournament_bracket .round .spacer:last-child
{
  flex-grow:.5;
}

.tournament_bracket .round .game-spacer
{
  flex-grow:1;
}

.tournament_bracket li.game
{
  padding-left:10px;
}

.tournament_bracket li.game.winner
{
  font-weight:bold;
}

.tournament_bracket li.game span
{
  float:right;
  /*margin-right:5px;*/
  padding: 0 5px;
  background: #66686f;
  color: #2b2b2b;
}

.tournament_bracket li.game-top
{
  border-bottom:1px solid #2b2b2b;
  background: #4a4c52;
}

.tournament_bracket li.game-spacer
{
  border-right:1px solid #2b2b2b;
  min-height:40px;
}

.tournament_bracket li.game-bottom
{
  border-top:1px solid #2b2b2b;
  background: #4a4c52;
}





table {
  border-collapse: collapse;
}

table, tr, td {
  border: 1px solid black;
}

td {
  width: 200px;
  height:50px;
}

.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

.login h1 { 
  color: #ffffff;
  letter-spacing:1px; 
  text-align:center; 
}

.login input { 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}

.login .button {
  background: #cc8417;
}


.login .button:hover {
/*  background: #000000;*/
}

.login li {
  color: #ffffff;
  padding: 10px;
  background: rgb(188, 5, 5);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  letter-spacing:1px; 
  text-align:center; 
}

div.example {
  color: #ffffff;
}


